body
{
	background-color: rgb(108, 105, 105);
}

.pimage
{
	text-align: center;
}

.navigation_image
{
	height: 50%;
	width: 50%;
	justify-content: center;
}

#container
{
	border: 3px solid rgb(140, 140, 140);
	border-radius: 20px;
	background-color: grey;
	display: flex;
	flex: auto;
}

li
{
	list-style-type: none;
}

.search
{

}