.tutoyoutube-line1
{
    display: flex;
    margin: 2.5%;
    padding: 1%;

}

.tutoyoutube-colum1 {
    width: 41%;
    border-radius: 20px;
    border: 3px solid rgb(140, 140, 140);
}

.tutoYoutubeImage {
    display: block;
    width: 50%;
    margin: auto;
    padding: 5%;
}

.tutoyoutube-colum1 figcaption{
    border-top: rgb(140, 140, 140);
}

figcaption {
    margin: 5%;
    padding: 3%;
    white-space: normal;
}

.Image {
    display: block;
    padding: 10%;
    margin: auto;
    width: 25%;
}

.language1 {
    width: 25%;
    margin: 5%;
    padding: 1%;
    border: 3px solid rgb(140, 140, 140);
}

.tutoyoutube-line1 button {
    display: block;
    margin: auto;
    padding: 1%;
    background-color: #001514;
    text-decoration: none;
}

a {
    text-decoration: none;
    -webkit-text-fill-color: white;
}

.tutoyoutube-1Tuto button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.tutoyoutube-JSFullCourse button {
    display: block;
    margin: auto;
    padding: 1%;
    background-color: #001514;
    text-decoration: none;
}

.tutoyoutube-1Tuto {
    margin: 3%;
    padding: 1%;
    width: 33%;
    border: 3px solid rgb(140, 140, 140);
    border-radius: 20px;
    position: relative;
}

.tutoyoutube-JSFullCourse {
    display: flex;
}

.tutoyoutube-JSFullCourse figcaption {
    border-top: 3px solid rgb(140, 140, 140);
}

.tutoyoutube-1Tuto{
    margin: 3%;
    padding: 1%;
    width: 33%;
    border: 3px solid rgb(140, 140, 140);
    border-radius: 20px;
    position: relative;
}